<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862539049469-o66gt5l36p29fbbti12cmir5gmtk457q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862539049469-o66gt5l36p29fbbti12cmir5gmtk457q</string>
	<key>API_KEY</key>
	<string>AIzaSyCB7cPwMFrDeTMRPOHEEIcLA4V2zgffwLY</string>
	<key>GCM_SENDER_ID</key>
	<string>862539049469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invoicer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>invo-9ce65</string>
	<key>STORAGE_BUCKET</key>
	<string>invo-9ce65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862539049469:ios:e5d3a5071c9a39f5b59194</string>
</dict>
</plist>